// Partials

@import "colors";
@import "fonts";
@import "custom";
@import "compass/css3/transition";

// Compass

/*
 * Globals
 */

*, *:before, *:after {
	@include box-sizing(border-box);
}

/* Links */
a,
a:focus,
a:hover{
	color: #fff;
}

.body{
	a,
	a:focus,
	a:hover{
	color: $loud-grey;
	}
}

/* Navigation */

.navbar{
	@include border-radius(0);
	.navbar-brand{
		color: $tan;
	}
	.navbar-brand:hover, .navbar-brand:focus{
			color: $quiet-tan;
	}
} 