// Partials

@import "colors";
@import "fonts";
@import "custom";
@import "compass/css3/transition";

// Compass

// Site wide structure

*, *:before, *:after {
	@include box-sizing(border-box);
}

footer {
  position:absolute;
  bottom:0;
  width:100%;
	background:#222222;
	margin-top:20px;

	p{
		padding: 5px;
		margin: 5px 0;
		text-align: center;
	}
}
