// Partials

@import "colors";
@import "fonts";
@import "custom";
@import "compass/css3/transition";

// Compass

/*
 * Globals
 */

*, *:before, *:after {
	@include box-sizing(border-box);
}

/* Links */
a,
a:focus,
a:hover{
	color: #fff;
}

.body{
	a,
	a:focus,
	a:hover{
	color: $loud-grey;
	}
}

/* Navigation */

.navbar{
	@include border-radius(0);
	.navbar-brand{
		color: $tan;
	}
	.navbar-brand:hover, .navbar-brand:focus{
			color: $quiet-tan;
	}
} 

/* Interactions */

.pointer{
	cursor:pointer;
	color: $loud-grey;
}

.pointer:hover{
	color: $loud-grey;
}

$buttons: 4; //update this number based on the total number of buttons

.top-right-button{
	font-size: 14px;
	@for $i from 1 to $buttons{
		span:nth-child(#{$i}){
			position: absolute;
			top: 15px;
			right: $i * 25px + 5;
		}
	}
}

.top-left-button{
	font-size: 14px;
	@for $i from 1 to $buttons{
		span:nth-child(#{$i}){
			position: absolute;
			top: 15px;
			left: $i * 25px + 5;
		}
	}
}