$grey : #F5F5F5;
$quiet-grey : lighten($grey, 20%);
$loud-grey : darken($grey, 25%);

$darkgreen : #0A3311;
$quiet-darkgreen : lighten($darkgreen, 20%);
$loud-darkgreen : darken($darkgreen, 13.33%);

$green : #268035;
$quiet-green : lighten($green, 20%);
$loud-green : darken($green, 13.33%);

$purple: #55388C;
$quiet-purple : lighten($purple, 20%);
$loud-purple : darken($purple, 13.33%);

$tan : #CC8333;
$quiet-tan : lighten($tan, 20%);
$loud-tan : darken($tan, 13.33%);

$brown : #4D2F0F;
$quiet-brown : lighten($brown, 20%);
$loud-brown : darken($brown, 13.33%);