@import "compass/css3";

@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Metamorphous");

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot');
  src: url('fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('fonts/bootstrap/glyphicons-halflings-regular.woff') format('woff'), url('fonts/bootstrap/glyphicons-halflings-regular.ttf') format('truetype'), url('fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

// @include font-face("Lora", font-files("../fonts/Lora/Lora-Regular.ttf"));
// @include font-face("Lora", font-files("fonts/Lora/Lora-Italic.ttf"), style("italic"));
// @include font-face("Metamorphous", font-files("Metamorphous/Metamorphous-Regular.ttf"));

.lora{
	font-family: "Lora";
}

.morphus{
	font-family: "Metamorphous";
}

html *{
	font-family: "Lora";
	font-size: 1.5rem;
}

h1, h2, h3, h4{
	color: $loud-purple;
}

html{
	h1{
		font-size: 3rem;
	}

	h2{
		font-size: 2.5rem;
	}

	h3{
		font-size: 2rem;
	}

	h4{
		font-size: 1.75rem;
	}
}

/* Colors */

.tan{
	color: $tan;
}

.darkgreen{
	color: $darkgreen;
}