@import "base";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
    color: #fff;
    text-shadow: none;
 /* Prevent inheritence from `body` */
    background-color: $lightblue;
    border: 1px solid $lightblue;
}


/*
 * Base structure
 */