@import "base";
@import "compass/reset";

/*
 * Base structure
 */

 body{
 	background-color: #fff;
 }

 .container{
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: 1rem;
 	padding-right: 1rem;
 }

 .footer{
 	color: $loud-grey;
 }

/*
 * Base structure
 */

.inner-container{
	padding: 0 auto;
}

// absolutely positioned buttons
$buttons: 3; // update this number based on the total number of buttons
.top-left-button{
	font-size: 14px;
	color: $loud-grey;
	@for $i from 1 to $buttons{
		.glyph-button:nth-child(#{$i}){
			position: absolute;
			top: 5px;
			left: $i * 25px + 5;
		}
	}
}

.top-right-button{
	font-size: 16px;
	@for $i from 1 to $buttons{
		.glyph-button:nth-child(#{$i}){
			position: absolute;
			top: 5px;
			right: $i * 25px + 5;
		}
	}
}

 /* Lists */

 .character-list-container{
 	text-align: center;
 	padding-bottom: 1.5rem;
 	@mixin reset-list-style {
  		list-style: none;
	}
	.row h4{
		padding: 2rem 0 1.5rem;
	}
 	ul{
 		width: 100%;
	 	li span{
	 		text-align: center;
	 		font-size: 1.3rem;
	 		cursor: pointer;
	 		color: black;
	 	}
	 	li:hover{

	 	}
	 }
 }