@import "base";
@import "compass/reset";

/*
 * Base structure
 */

 body{
 	background-color: #fff;
 }

 .container{
 	margin-left: auto;
 	margin-right: auto;
 	padding-left: 1rem;
 	padding-right: 1rem;
 }

 .footer{
 	color: $loud-grey;
 }

/*
 * Base structure
 */

.inner-container{
	padding: 0 auto;
}

 /* Lists */

 .character-list-container{
 	text-align: center;
 	padding-bottom: 1.5rem;
 	@mixin reset-list-style {
  		list-style: none;
	}
	.row h4{
		padding: 2rem 0 1.5rem;
	}
 	ul{
 		width: 100%;
	 	li span{
	 		text-align: center;
	 		font-size: 1.3rem;
	 		cursor: pointer;
	 		color: black;
	 	}
	 	li:hover{

	 	}
	 }
 }