@import "base";

/*
 * Globals
 */

/* 
 * Page specific
 */
.body{
	padding-top: .8rem;
	.newchar-container{
		max-width: 450px;
		min-height: 200px;
		margin: 2rem auto;
		padding: 1rem 1rem;
		.legend{
			padding-top: 1rem;
			font-weight: 700;
		}
		legend+.legend{
			padding-top: 0;
		}
		// Interactive elements
		.form-group{
			margin-bottom: 1px;
		}
		.add-field{
			text-align: center;
			padding: 1rem 0 0;
			span{
				font-size: 2.4rem;
			}
		}
		.button-glyphicon{
			span{
				vertical-align: middle;
				font-size: 2rem;
				color: $loud-grey;
				padding: 6px;
				right: 2rem;
			}
		}
		.top-right{
			position: absolute;
			top: 5rem;
			right: 10%;
		}
		.top-left{
			position: absolute;
			top: 5rem;
			left: 10%;
		}
		// Form styling
		label{
			font-weight: normal;
			margin-top: 5px;
		}
		button{
			margin-top: -1px;
			font-size: 2rem;
			@include border-radius(0px, 0px);
		}
		input{
			@include border-radius(1px, 1px);
			padding-left: 1rem;
			font-size: 2rem;
			margin-top: -1px;
		}
		input:focus{
			padding-left: .8rem;
			border-left: .3rem solid $quiet-purple;
		}
		legend{
			text-align: center;
			font-size: 1.8rem;
			font-weight: bold;
			padding: 0 2.5rem;
		}
		#skills input{
			margin-top: 9px;
		}
		.btn-default,
		.btn-default:focus{
			color: #fff;
			text-shadow: none;
			margin: 4rem auto 0;
			max-width: 15rem;
			text-align: center;
			/* Prevent inheritence from `body` */
			background-color: $loud-green;
			border: 1px solid $quiet-darkgreen;
			@include transition-property(background-color);
			@include transition-duration(.2s);
			@include transition-timing-function(ease-in);
		}
	}
}