@import "base";

/*
 * Globals
 */

/* Forms */

.newchar-container{
	max-width: 475px;
	margin: 5rem auto 0;
	padding: 1rem 2.5rem;
	.form-group{
		margin-bottom: 1px;
		label:first-of-type{}
	}
	#nextprev{
		padding: 1rem 0 0;
	}
	#skills .column{
		padding: 0 .5rem;

	}
	label{
		font-weight: normal;
		margin-top: 5px;
	}
	button{
		margin-top: -1px;
		padding-left: 1rem;
		text-align: left;
		font-size: 2rem;
		@include border-radius(0px, 0px);
	}
	input{
		@include border-radius(1px, 1px);
		padding-left: 1rem;
		font-size: 2rem;
		margin-top: -1px;
	}
	input:focus{
		padding-left: .8rem;
		border-left: .3rem solid $quiet-purple;
	}
	legend{
		text-align: center;
		font-size: 1.8rem;
		font-weight: bold;
	}
}