@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Metamorphous);
@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/fonts/Lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/style("italic")');
  src: url('/stylesheets/fonts/style("italic")?#iefix') format('eot'), url('/stylesheets/fonts/fonts/Lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Metamorphous";
  src: url('/stylesheets/fonts/fonts/Lora/Metamorphous-Regular.ttf') format('truetype');
}

/* line 10, ../sass/_fonts.scss */
.lora {
  font-family: "Lora";
}

/* line 14, ../sass/_fonts.scss */
.morphus {
  font-family: "Metamorphous";
}

/* line 18, ../sass/_fonts.scss */
html * {
  font-family: "Lora";
  font-size: 1.5rem;
}

/* line 5, ../sass/_custom.scss */
.box {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* line 18, ../sass/_custom.scss */
.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* line 38, ../sass/_custom.scss */
.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* line 49, ../sass/_custom.scss */
.inline-list {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
/* line 53, ../sass/_custom.scss */
.inline-list ul {
  list-style: none;
  padding: 0.5rem;
}

/*
 * Globals
 */
/* line 14, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
/* line 21, ../sass/_base.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Navigation */
/* line 27, ../sass/_base.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 29, ../sass/_base.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 32, ../sass/_base.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #e0b585;
}

/*
 * Base structure
 */
/* line 7, ../sass/charselect.scss */
body {
  background-color: #fff;
}

/* line 11, ../sass/charselect.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 18, ../sass/charselect.scss */
.footer {
  color: lightgrey;
}

/*
 * Base structure
 */
/* Lists */
/* line 28, ../sass/charselect.scss */
.character-list-container {
  text-align: center;
}
/* line 30, ../sass/charselect.scss */
.character-list-container li {
  list-style: none;
}
