@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Metamorphous);
@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/fonts/Lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/style("italic")');
  src: url('/stylesheets/fonts/style("italic")?#iefix') format('eot'), url('/stylesheets/fonts/fonts/Lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Metamorphous";
  src: url('/stylesheets/fonts/fonts/Lora/Metamorphous-Regular.ttf') format('truetype');
}

/* line 10, ../sass/_fonts.scss */
.lora {
  font-family: "Lora";
}

/* line 14, ../sass/_fonts.scss */
.morphus {
  font-family: "Metamorphous";
}

/* line 18, ../sass/_fonts.scss */
html * {
  font-family: "Lora";
  font-size: 1.5rem;
}

/* line 5, ../sass/_custom.scss */
.box {
  position: relative;
  width: 100%;
  padding: 2rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* line 17, ../sass/_custom.scss */
.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 100px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* line 37, ../sass/_custom.scss */
.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* line 48, ../sass/_custom.scss */
.inline-list {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
/* line 52, ../sass/_custom.scss */
.inline-list ul {
  list-style: none;
  padding: 0.5rem;
}

/* line 12, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Globals
 */
/* Links */
/* line 10, ../sass/index.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Navigation */
/* line 16, ../sass/index.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 18, ../sass/index.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 21, ../sass/index.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #e0b585;
}

/* Custom default button */
/* line 29, ../sass/index.scss */
.btn-default,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #164c1f;
  border: 1px solid #1b882d;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 40, ../sass/index.scss */
.btn-default:hover {
  background-color: #1b882d;
}

/*
 * Base structure
 */
/* line 48, ../sass/index.scss */
body {
  background-color: #fff;
}

/* line 52, ../sass/index.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 59, ../sass/index.scss */
.footer {
  color: lightgrey;
}

/*
 * Forms
 */
/* line 66, ../sass/index.scss */
.signin-container {
  max-width: 475px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../sass/index.scss */
.signin-container .form-signin {
  max-width: 400px;
  margin: 0 auto;
}
/* line 74, ../sass/index.scss */
.signin-container .form-signin .form-control {
  height: auto;
}
/* line 77, ../sass/index.scss */
.signin-container .form-signin .form-signin-heading {
  color: black;
  text-align: left;
}
/* line 81, ../sass/index.scss */
.signin-container .form-signin button {
  margin-top: -1px;
  padding-left: 1rem;
  text-align: left;
  font-size: 2rem;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 88, ../sass/index.scss */
.signin-container .form-signin input {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: -1px;
}
/* line 94, ../sass/index.scss */
.signin-container .form-signin input:focus {
  padding-left: .8rem;
  border-left: 0.3rem solid #8768c2;
}
