@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/Lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/style("italic")');
  src: url('/stylesheets/fonts/style("italic")?#iefix') format('eot'), url('/stylesheets/fonts/Lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Metamorphous";
  src: url('/stylesheets/fonts/Metamorphous/Metamorphous-Regular.ttf') format('truetype');
}

/* line 10, ../sass/_fonts.scss */
.lora {
  font-family: "Lora";
}

/* line 14, ../sass/_fonts.scss */
.morphus {
  font-family: "Metamorphous";
}

/* line 18, ../sass/_fonts.scss */
html * {
  font-family: "Lora";
  font-size: 1.5rem;
}

/* line 23, ../sass/_fonts.scss */
h1, h2, h3, h4 {
  color: #38255b;
}

/* line 28, ../sass/_fonts.scss */
html h1 {
  font-size: 3rem;
}
/* line 32, ../sass/_fonts.scss */
html h2 {
  font-size: 2.5rem;
}
/* line 36, ../sass/_fonts.scss */
html h3 {
  font-size: 2rem;
}
/* line 40, ../sass/_fonts.scss */
html h4 {
  font-size: 1.75rem;
}

/* line 5, ../sass/_custom.scss */
.box {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* line 18, ../sass/_custom.scss */
.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* line 38, ../sass/_custom.scss */
.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* line 50, ../sass/_custom.scss */
.me-select {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

/* line 56, ../sass/_custom.scss */
.me-select ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* line 62, ../sass/_custom.scss */
.me-select li {
  margin: 0 auto;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 73, ../sass/_custom.scss */
.me-select li.selected {
  box-shadow: inset 0 0 0 40px #f5e6d6;
}

/* line 77, ../sass/_custom.scss */
.me-select label {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 1.2em;
  padding: 15px 10px 15px 80px;
  vertical-align: top;
  cursor: pointer;
}

/* line 87, ../sass/_custom.scss */
.me-select label span {
  vertical-align: middle;
  display: inline-block;
}

/* line 92, ../sass/_custom.scss */
.me-select label span:first-child {
  width: 30%;
  color: rgba(97, 107, 107, 0.7);
}

/* line 98, ../sass/_custom.scss */
.me-select label span:nth-child(2),
.me-select label a {
  width: 60%;
  color: #31d2d4;
}

/* line 103, ../sass/_custom.scss */
.me-select label span:last-child {
  width: 10%;
  text-align: right;
  font-size: 60%;
}

/* line 111, ../sass/_custom.scss */
.me-select input[type="checkbox"],
.me-select label::before,
.me-select input[type="checkbox"]:checked + label::after {
  width: 26px;
  height: 26px;
  top: 50%;
  left: 20px;
  margin-top: -13px;
  position: absolute;
  cursor: pointer;
}

/* line 121, ../sass/_custom.scss */
.me-select input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

/* line 129, ../sass/_custom.scss */
.me-select label::before {
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/* line 134, ../sass/_custom.scss */
.me-select input[type="checkbox"]:checked + label::after {
  content: '\2713';
  text-align: center;
  line-height: 28px;
  color: #31d2d4;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  /* line 143, ../sass/_custom.scss */
  section {
    font-size: 80%;
  }
}
/* line 150, ../sass/_custom.scss */
.inline-list {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
/* line 154, ../sass/_custom.scss */
.inline-list ul {
  list-style: none;
  padding: 0.5rem;
}

/*
 * Globals
 */
/* line 14, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
/* line 21, ../sass/_base.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Navigation */
/* line 27, ../sass/_base.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 29, ../sass/_base.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 32, ../sass/_base.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #f5e6d6;
}

/*
 * Globals
 */
/* Links */
/* line 10, ../sass/index.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Navigation */
/* line 16, ../sass/index.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 18, ../sass/index.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 21, ../sass/index.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #f5e6d6;
}

/* Custom default button */
/* line 29, ../sass/index.scss */
.btn-default,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #164c1f;
  border: 1px solid #1b882d;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 40, ../sass/index.scss */
.btn-default:hover {
  background-color: #1b882d;
}

/*
 * Base structure
 */
/* line 48, ../sass/index.scss */
body {
  background-color: #fff;
}

/* line 52, ../sass/index.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 59, ../sass/index.scss */
.footer {
  color: #b5b5b5;
}

/*
 * Forms
 */
/* line 66, ../sass/index.scss */
.signin-container {
  max-width: 475px;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 71, ../sass/index.scss */
.signin-container .form-signin {
  max-width: 400px;
  margin: 0 auto;
}
/* line 74, ../sass/index.scss */
.signin-container .form-signin .form-control {
  height: auto;
}
/* line 77, ../sass/index.scss */
.signin-container .form-signin .form-signin-heading {
  color: black;
  text-align: left;
}
/* line 81, ../sass/index.scss */
.signin-container .form-signin button {
  margin-top: -1px;
  padding-left: 1rem;
  text-align: left;
  font-size: 2rem;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 88, ../sass/index.scss */
.signin-container .form-signin input {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: -1px;
}
/* line 94, ../sass/index.scss */
.signin-container .form-signin input:focus {
  padding-left: .8rem;
  border-left: 0.3rem solid #8768c2;
}
