@import url(http://fonts.googleapis.com/css?family=Eagle+Lake);
@font-face {
  font-family: "Thorn";
  src: url('/stylesheets/fonts/fonts/Ithornet.ttf') format('truetype'), url('/stylesheets/fonts/fonts/Ithornet.otf') format('opentype');
}

/* line 11, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*
 * Globals
 */
/* Navigation */
/* line 9, ../sass/index.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

/* Links */
/* line 17, ../sass/index.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
/* line 23, ../sass/index.scss */
.btn-default,
.btn-default:focus {
  color: #fff;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #164c1f;
  border: 1px solid #1b882d;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}

/* line 34, ../sass/index.scss */
.btn-default:hover {
  background-color: #1b882d;
}

/*
 * Base structure
 */
/* line 42, ../sass/index.scss */
body {
  background-color: #fff;
}

/* line 46, ../sass/index.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/*
 * Forms
 */
/* line 56, ../sass/index.scss */
.signin-container {
  max-width: 350px;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
}
/* line 61, ../sass/index.scss */
.signin-container .form-signin {
  padding: 1.5rem;
  background-color: whitesmoke;
  border: 1px solid lightgrey;
}
/* line 65, ../sass/index.scss */
.signin-container .form-signin .form-control {
  height: auto;
}
/* line 68, ../sass/index.scss */
.signin-container .form-signin .form-signin-heading {
  color: black;
  text-align: left;
}
/* line 72, ../sass/index.scss */
.signin-container .form-signin button {
  margin-top: -1px;
  padding-left: 1rem;
  text-align: left;
  font-size: 2rem;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 79, ../sass/index.scss */
.signin-container .form-signin input {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: -1px;
}
/* line 85, ../sass/index.scss */
.signin-container .form-signin input:focus {
  padding-left: .8rem;
  border-left: 0.3rem solid #8768c2;
}
