@import url(http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Metamorphous);
@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/fonts/Lora/Lora-Regular.ttf') format('truetype');
}

@font-face {
  font-family: "Lora";
  src: url('/stylesheets/fonts/style("italic")');
  src: url('/stylesheets/fonts/style("italic")?#iefix') format('eot'), url('/stylesheets/fonts/fonts/Lora/Lora-Italic.ttf') format('truetype');
}

@font-face {
  font-family: "Metamorphous";
  src: url('/stylesheets/fonts/fonts/Lora/Metamorphous-Regular.ttf') format('truetype');
}

/* line 10, ../sass/_fonts.scss */
.lora {
  font-family: "Lora";
}

/* line 14, ../sass/_fonts.scss */
.morphus {
  font-family: "Metamorphous";
}

/* line 18, ../sass/_fonts.scss */
html * {
  font-family: "Lora";
  font-size: 1.5rem;
}

/* line 23, ../sass/_fonts.scss */
h1, h2, h3, h4 {
  color: #38255b;
}

/* line 5, ../sass/_custom.scss */
.box {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 2rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* line 18, ../sass/_custom.scss */
.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* line 38, ../sass/_custom.scss */
.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* line 49, ../sass/_custom.scss */
.inline-list {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
/* line 53, ../sass/_custom.scss */
.inline-list ul {
  list-style: none;
  padding: 0.5rem;
}

/*
 * Globals
 */
/* line 14, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
/* line 21, ../sass/_base.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Navigation */
/* line 27, ../sass/_base.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 29, ../sass/_base.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 32, ../sass/_base.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #e0b585;
}

/* line 17, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rvm/gems/ruby-2.1.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Base structure
 */
/* line 8, ../sass/main.scss */
body {
  background-color: #fff;
}

/* line 12, ../sass/main.scss */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* line 19, ../sass/main.scss */
.footer {
  color: #b5b5b5;
}

/*
 * Base structure
 */
/* line 27, ../sass/main.scss */
.inner-container {
  padding: 0 auto;
}

/* Lists */
/* line 37, ../sass/main.scss */
.character-list-container ul {
  width: 100%;
}
/* line 39, ../sass/main.scss */
.character-list-container ul li {
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  color: black;
  padding: .5rem 1rem;
}
