@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Metamorphous");
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/* line 15, ../sass/_fonts.scss */
.lora {
  font-family: "Lora";
}

/* line 19, ../sass/_fonts.scss */
.morphus {
  font-family: "Metamorphous";
}

/* line 23, ../sass/_fonts.scss */
html * {
  font-family: "Lora";
  font-size: 1.5rem;
}

/* line 28, ../sass/_fonts.scss */
h1, h2, h3, h4 {
  color: #38255b;
}

/* line 33, ../sass/_fonts.scss */
html h1 {
  font-size: 3rem;
}
/* line 37, ../sass/_fonts.scss */
html h2 {
  font-size: 2.5rem;
}
/* line 41, ../sass/_fonts.scss */
html h3 {
  font-size: 2rem;
}
/* line 45, ../sass/_fonts.scss */
html h4 {
  font-size: 1.75rem;
}

/* Colors */
/* line 52, ../sass/_fonts.scss */
.tan {
  color: #cc8333;
}

/* line 56, ../sass/_fonts.scss */
.darkgreen {
  color: #0a3311;
}

/* Interactions */
/* line 5, ../sass/_custom.scss */
.pointer {
  cursor: pointer;
  color: #9c9c9c;
}

/* line 10, ../sass/_custom.scss */
.pointer:hover {
  color: #9c9c9c;
}

/* line 16, ../sass/_custom.scss */
.top-right-button {
  font-size: 16px;
}
/* line 19, ../sass/_custom.scss */
.top-right-button span:nth-child(1) {
  position: absolute;
  top: 15px;
  right: 30px;
}
/* line 19, ../sass/_custom.scss */
.top-right-button span:nth-child(2) {
  position: absolute;
  top: 15px;
  right: 55px;
}
/* line 19, ../sass/_custom.scss */
.top-right-button span:nth-child(3) {
  position: absolute;
  top: 15px;
  right: 80px;
}

/* line 27, ../sass/_custom.scss */
.top-left-button {
  font-size: 14px;
}
/* line 30, ../sass/_custom.scss */
.top-left-button span:nth-child(1) {
  position: absolute;
  top: 15px;
  left: 30px;
}
/* line 30, ../sass/_custom.scss */
.top-left-button span:nth-child(2) {
  position: absolute;
  top: 15px;
  left: 55px;
}
/* line 30, ../sass/_custom.scss */
.top-left-button span:nth-child(3) {
  position: absolute;
  top: 15px;
  left: 80px;
}

/* Structure */
/* line 42, ../sass/_custom.scss */
.inline-list {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
/* line 46, ../sass/_custom.scss */
.inline-list ul {
  list-style: none;
  padding: 0.5rem;
}

/* Supplemental */
/* line 56, ../sass/_custom.scss */
.box {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: .2rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* line 69, ../sass/_custom.scss */
.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* line 89, ../sass/_custom.scss */
.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* line 101, ../sass/_custom.scss */
.me-select {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

/* line 107, ../sass/_custom.scss */
.me-select ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* line 113, ../sass/_custom.scss */
.me-select li {
  margin: 0 auto;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 124, ../sass/_custom.scss */
.me-select li.selected {
  box-shadow: inset 0 0 0 40px #f5e6d6;
}

/* line 128, ../sass/_custom.scss */
.me-select label {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 1.2em;
  padding: 0.5rem 3rem;
  vertical-align: top;
  cursor: pointer;
}

/* line 138, ../sass/_custom.scss */
.me-select label span {
  vertical-align: middle;
  display: inline-block;
}

/* line 145, ../sass/_custom.scss */
.me-select input[type="checkbox"],
.me-select #checkbox::before,
.me-select input[type="checkbox"]:checked + label span:first-child::after {
  width: 26px;
  height: 26px;
  top: 50%;
  left: 1.8rem;
  margin-top: -13px;
  position: absolute;
  cursor: pointer;
}

/* line 155, ../sass/_custom.scss */
.me-select input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

/* line 163, ../sass/_custom.scss */
.me-select #checkbox::before {
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/* line 168, ../sass/_custom.scss */
.me-select input[type="checkbox"]:checked + label span:first-child::after {
  content: '\2713';
  text-align: center;
  line-height: 28px;
  color: #1b882d;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  /* line 179, ../sass/_custom.scss */
  section {
    font-size: 80%;
  }
}
/*
 * Globals
 */
/* line 14, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
/* line 21, ../sass/_base.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* line 25, ../sass/_base.scss */
.form-control:focus {
  outline: 0 !important;
  border-color: #cccccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 34, ../sass/_base.scss */
.body a,
.body a:focus,
.body a:hover {
  color: #9c9c9c;
}

/* Navigation */
/* line 41, ../sass/_base.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 43, ../sass/_base.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 46, ../sass/_base.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #f5e6d6;
}

/*
 * Globals
 */
/* Forms */
/* line 9, ../sass/newchar.scss */
.newchar-container {
  max-width: 475px;
  margin: 5rem auto 0;
  padding: 1rem 2.5rem;
}
/* line 13, ../sass/newchar.scss */
.newchar-container .form-group {
  margin-bottom: 1px;
}
/* line 17, ../sass/newchar.scss */
.newchar-container #nextprev {
  padding: 1rem 0 0;
}
/* line 20, ../sass/newchar.scss */
.newchar-container #skills .column {
  padding: 0 .5rem;
}
/* line 24, ../sass/newchar.scss */
.newchar-container label {
  font-weight: normal;
  margin-top: 5px;
}
/* line 28, ../sass/newchar.scss */
.newchar-container button {
  margin-top: -1px;
  padding-left: 1rem;
  text-align: left;
  font-size: 2rem;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 35, ../sass/newchar.scss */
.newchar-container input {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: -1px;
}
/* line 41, ../sass/newchar.scss */
.newchar-container input:focus {
  padding-left: .8rem;
  border-left: 0.3rem solid #8768c2;
}
/* line 45, ../sass/newchar.scss */
.newchar-container legend {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
}
