@import url("http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic|Metamorphous");
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot");
  src: url("fonts/bootstrap/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("fonts/bootstrap/glyphicons-halflings-regular.woff") format("woff"), url("fonts/bootstrap/glyphicons-halflings-regular.ttf") format("truetype"), url("fonts/bootstrap/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format("svg");
}

/* line 15, ../sass/_fonts.scss */
.lora {
  font-family: "Lora";
}

/* line 19, ../sass/_fonts.scss */
.morphus {
  font-family: "Metamorphous";
}

/* line 23, ../sass/_fonts.scss */
html * {
  font-family: "Lora";
  font-size: 1.5rem;
}

/* line 28, ../sass/_fonts.scss */
h1, h2, h3, h4 {
  color: #38255b;
}

/* line 33, ../sass/_fonts.scss */
html h1 {
  font-size: 3rem;
}
/* line 37, ../sass/_fonts.scss */
html h2 {
  font-size: 2.5rem;
}
/* line 41, ../sass/_fonts.scss */
html h3 {
  font-size: 2rem;
}
/* line 45, ../sass/_fonts.scss */
html h4 {
  font-size: 1.75rem;
}

/* Colors */
/* line 52, ../sass/_fonts.scss */
.tan {
  color: #cc8333;
}

/* line 56, ../sass/_fonts.scss */
.darkgreen {
  color: #0a3311;
}

/* Interactions */
/* line 5, ../sass/_custom.scss */
.pointer {
  cursor: pointer;
}

/* Structure */
/* line 13, ../sass/_custom.scss */
.inline-list {
  text-align: center;
  margin: 0 auto;
  padding: 2rem;
}
/* line 17, ../sass/_custom.scss */
.inline-list ul {
  list-style: none;
  padding: 0.5rem;
}

/* Supplemental */
/* line 27, ../sass/_custom.scss */
.box {
  position: relative;
  width: 100%;
  max-width: 700px;
  padding: 2rem 1rem;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

/* line 40, ../sass/_custom.scss */
.box:before, .box:after {
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 15px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

/* line 60, ../sass/_custom.scss */
.box:after {
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

/* line 72, ../sass/_custom.scss */
.me-select {
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}

/* line 78, ../sass/_custom.scss */
.me-select ul {
  list-style: none;
  padding: 0;
  width: 100%;
}

/* line 84, ../sass/_custom.scss */
.me-select li {
  margin: 0 auto;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* line 95, ../sass/_custom.scss */
.me-select li.selected {
  box-shadow: inset 0 0 0 40px #f5e6d6;
}

/* line 99, ../sass/_custom.scss */
.me-select label {
  display: inline-block;
  width: 100%;
  position: relative;
  font-size: 1.2em;
  padding: 0.5rem 3rem;
  vertical-align: top;
  cursor: pointer;
}

/* line 109, ../sass/_custom.scss */
.me-select label span {
  vertical-align: middle;
  display: inline-block;
}

/* line 116, ../sass/_custom.scss */
.me-select input[type="checkbox"],
.me-select #checkbox::before,
.me-select input[type="checkbox"]:checked + label span:first-child::after {
  width: 26px;
  height: 26px;
  top: 50%;
  left: 1.8rem;
  margin-top: -13px;
  position: absolute;
  cursor: pointer;
}

/* line 126, ../sass/_custom.scss */
.me-select input[type="checkbox"] {
  opacity: 0;
  -webkit-appearance: none;
  display: inline-block;
  vertical-align: middle;
  z-index: 100;
}

/* line 134, ../sass/_custom.scss */
.me-select #checkbox::before {
  content: '';
  border: 2px solid rgba(0, 0, 0, 0.3);
}

/* line 139, ../sass/_custom.scss */
.me-select input[type="checkbox"]:checked + label span:first-child::after {
  content: '\2713';
  text-align: center;
  line-height: 28px;
  color: #1b882d;
}

/* Media Queries */
@media screen and (max-width: 50em) {
  /* line 150, ../sass/_custom.scss */
  section {
    font-size: 80%;
  }
}
/*
 * Globals
 */
/* line 14, ../sass/_base.scss */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Links */
/* line 21, ../sass/_base.scss */
a,
a:focus,
a:hover {
  color: #fff;
}

/* line 25, ../sass/_base.scss */
.form-control:focus {
  outline: 0 !important;
  border-color: #cccccc;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 34, ../sass/_base.scss */
.body a,
.body a:focus,
.body a:hover {
  color: #9c9c9c;
}

/* Navigation */
/* line 41, ../sass/_base.scss */
.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}
/* line 43, ../sass/_base.scss */
.navbar .navbar-brand {
  color: #cc8333;
}
/* line 46, ../sass/_base.scss */
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
  color: #f5e6d6;
}

/*
 * Globals
 */
/* 
 * Page specific
 */
/* line 10, ../sass/newchar.scss */
.body {
  padding-top: .8rem;
}
/* line 12, ../sass/newchar.scss */
.body .newchar-container {
  max-width: 450px;
  min-height: 200px;
  margin: 2rem auto;
  padding: 1rem 1rem;
}
/* line 17, ../sass/newchar.scss */
.body .newchar-container .legend {
  padding-top: 1rem;
  font-weight: 700;
}
/* line 21, ../sass/newchar.scss */
.body .newchar-container legend + .legend {
  padding-top: 0;
}
/* line 25, ../sass/newchar.scss */
.body .newchar-container .form-group {
  margin-bottom: 1px;
}
/* line 28, ../sass/newchar.scss */
.body .newchar-container .add-field {
  text-align: center;
  padding: 1rem 0 0;
}
/* line 31, ../sass/newchar.scss */
.body .newchar-container .add-field span {
  font-size: 2.4rem;
}
/* line 36, ../sass/newchar.scss */
.body .newchar-container .button-glyphicon span {
  vertical-align: middle;
  font-size: 2rem;
  color: #9c9c9c;
  padding: 6px;
  right: 2rem;
}
/* line 44, ../sass/newchar.scss */
.body .newchar-container .top-right {
  position: absolute;
  top: 5rem;
  right: 10%;
}
/* line 49, ../sass/newchar.scss */
.body .newchar-container .top-left {
  position: absolute;
  top: 5rem;
  left: 10%;
}
/* line 55, ../sass/newchar.scss */
.body .newchar-container label {
  font-weight: normal;
  margin-top: 5px;
}
/* line 59, ../sass/newchar.scss */
.body .newchar-container button {
  margin-top: -1px;
  font-size: 2rem;
  -webkit-border-radius: 0px 0px;
  -moz-border-radius: 0px / 0px;
  border-radius: 0px / 0px;
}
/* line 64, ../sass/newchar.scss */
.body .newchar-container input {
  -webkit-border-radius: 1px 1px;
  -moz-border-radius: 1px / 1px;
  border-radius: 1px / 1px;
  padding-left: 1rem;
  font-size: 2rem;
  margin-top: -1px;
}
/* line 70, ../sass/newchar.scss */
.body .newchar-container input:focus {
  padding-left: .8rem;
  border-left: 0.3rem solid #8768c2;
}
/* line 74, ../sass/newchar.scss */
.body .newchar-container legend {
  text-align: center;
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 2.5rem;
}
/* line 80, ../sass/newchar.scss */
.body .newchar-container #skills input {
  margin-top: 9px;
}
/* line 84, ../sass/newchar.scss */
.body .newchar-container .btn-default,
.body .newchar-container .btn-default:focus {
  color: #fff;
  text-shadow: none;
  margin: 4rem auto 0;
  max-width: 15rem;
  text-align: center;
  /* Prevent inheritence from `body` */
  background-color: #164c1f;
  border: 1px solid #1b882d;
  -webkit-transition-property: background-color;
  -moz-transition-property: background-color;
  -o-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-timing-function: ease-in;
  -moz-transition-timing-function: ease-in;
  -o-transition-timing-function: ease-in;
  transition-timing-function: ease-in;
}
