body
{
    background:black;
    color:#00FF00;
}
h1
{
    color:#00FF00;
    text-align:center;
    font-family:trebuchet;
}
h2
{
    text-align:center;
}
h3
{
    text-align:center;
    font-weight:normal;
    font-size:14px;
    font-family:helvetica;
}
#newupdate
{
    margin-left:auto;
    margin-right:auto;
}
#updatetitle
{
    text-align:center;
    width:250px;
}
#updatebody
{
    width:250px;
    height:175px;
    resize:none;
}
#updatesubmit
{
    text-align:center;
}
.menubutton
{
    width:120px;
    height:35px;
}
.updatesubmit
{
    width:75px;
}
