h3
{
	color:#473817;
	font-family:verdana;
	font-size:14;
	font-weight:normal;
}

#character
{
	margin:auto;
	display:inline-block;
	font-size:16px;
	font-family:verdana;
	margin-bottom:5px;
	margin-top:5px;
}
#character:hover
{
	cursor:pointer;
}
#leftcol
{
	border-right:5px groove #323d1d;
	overflow:auto;
}
#maincol
{
	width:47%;
	text-align:center;
	overflow:auto;
}
#rightcol
{
	border-left:5px groove #323d1d;
	overflow:auto;
}
#picframe
{
	display:inline-block;
	height:180px;
	width:155px;
	border:2px inset silver;
	background:#695B4E;
	border-radius:10;
	font-size:18;
	font-family:tahoma;
}
#healthinfo
{
	position:relative;
	float:right;
	line-height:18;
	margin-right:10px;
}
#level
{
	position:relative;
	float:left;
	line-height:18;
	margin-left:5px;
}
#powerstable tr > td:nth-child(1)
{
	width:20px;
}
#charselect
{
	display:inline-block;
	position:relative;
	float:right;
	margin-top:35px;
	background-image:url('../../images/tocharlisticon.png');
	background-color:black;
	width:64px;
	height:64px;
}
#charselect:hover
{
	background:black;
	background-image:url('../../images/tocharlisticonhover.png');
	cursor:pointer;
	width:64px;
	height:64px;
}
#equipmentlist
{
	position:relative;
	display:inline-block;
	text-align:left;
}

.middletable
{
	position:relative;
	background:#D2BB89;
	border:1px solid black;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border-radius:8px;
	width:5px;
	font-size:14px;
	width:335px;
}
.mcol
{
	position:relative;
	display:inline-block;
	background:#D2BB89;
	border:1px solid black;
	margin-top:10px;
	margin-left:auto;
	margin-right:auto;
	border-radius:8px;
	font-size:14px;
	width:335px;
	color:#7D2706;
}
.mcol ol li
{
	margin-left:auto;
	margin-right:auto;
	margin-bottom:5px;
	padding-left: 0;
	padding:5px 0;
	list-style-type: none;
	border:1px inset #45525D;
	color:#FBE7C8;
	border-radius:5;
	width:275px;
	background:#6C4B1A;
}
.mcol ol
{
	margin-left: 0;
	padding-left: 0;
	list-style-type: none;	
}
.middletable td
{
	width:60px;
	text-align:center;
}
.middletitle
{
	color:#7D2706;
	font-size:18px;
	font-weight:bold;
}
.middletable th
{
	color:#7D2706;
	font-size:18px;
	width:335px;
}
.tripcol
{
	display:inline-block;
	width:25%;
	height:478px;
	vertical-align:top;
	font-family:helvetica;
	font-size:12;
	color:#FBE7C8;
	overflow:hidden;
}
.col1split
{
	border:1px solid silver;
}
.console
{
	display:inline-block;
	width:760px;
	height:480px;
	background:#413529;
	border-radius:10px;
	border:5px outset silver;
}
.valuelab
{
	text-align:left;
	font-size:12;
	font-family:helvetica;
	position:relative;
	display:inline-block;
	border:1px solid #45525D;
	color:#FBE7C8;
	border-radius:5;
	padding:0 5px;
	width:45px;
	background:#6C4B1A;
}
.valuelablrg
{
	text-align:left;
	font-size:12;
	font-family:helvetica;
	position:relative;
	display:inline-block;
	border:1px inset #45525D;
	color:#FBE7C8;
	padding:0 5px;
	border-radius:5;
	width:80px;
	background:#6C4B1A;
}
.valuelabm
{
	text-align:left;
	font-size:12;
	font-family:helvetica;
	position:relative;
	display:inline-block;
	border:1px inset #45525D;
	color:#FBE7C8;
	padding:0 5px;
	border-radius:5;
	width:50px;
	background:#6C4B1A;
}
.result
{
	color:black;
	display:inline-block;
	font-weight:bold;
	font-size:16px;
}
.resulthl
{
	color:green;
	display:inline-block;
	font-weight:bold;
	font-size:16px;
}
.sbresult
{
	color:#D2BB89;
	font-size:16;
	margin-left:5px;
	margin-right:5px;
}
.infotab
{
	display:inline-block;
	width:98%;
	line-height:350%;
	background: -moz-linear-gradient(top,  #333c1a 0%, #333c1a 65%, #313523 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333c1a), color-stop(65%,#333c1a), color-stop(100%,#313523)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333c1a 0%,#333c1a 65%,#313523 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333c1a 0%,#333c1a 65%,#313523 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333c1a 0%,#333c1a 65%,#313523 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333c1a 0%,#333c1a 65%,#313523 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333c1a', endColorstr='#313523',GradientType=0 ); /* IE6-9 */
	color:#AFCA90;
	cursor:pointer;
	font-size:15px;
}
.infotabhl
{
	color:white;
	border:1px solid white;
	display:inline-block;
	width:98%;
	line-height:350%;
	background: -moz-linear-gradient(top,  #333c1a 0%, #333c1a 65%, #313523 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333c1a), color-stop(65%,#333c1a), color-stop(100%,#313523)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #333c1a 0%,#333c1a 65%,#313523 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #333c1a 0%,#333c1a 65%,#313523 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #333c1a 0%,#333c1a 65%,#313523 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #333c1a 0%,#333c1a 65%,#313523 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333c1a', endColorstr='#313523',GradientType=0 ); /* IE6-9 */
	color:white;
	cursor:pointer;
	font-size:15px;
}
.infotab:hover
{
	color:white;
	border:1px solid white;
}
.clickable
{
	cursor:pointer;
}
.addbutton:hover
{
	cursor:pointer;
	-webkit-filter: brightness(1.4);
}
.deletebutton
{
	float:right;
}
