footer
{
    text-align:center;
}
fieldset
{
    width:200px;
}
td
{
    border:1px solid gray;
    text-align:center;
    font-family:helvetica;
    border-radius:8px;
}
th
{
    text-align:center;
    font-family:verdana;
}
input
{
    border-radius:4px;
    text-align:center;
}
.char
{
    margin:auto;
}
.smallio
{
    width:25px;
}
.mediumio
{
    width:100px;
}
.menubutton
{
    width:120px;
    height:30px;
}
.smlareaio
{
    width:220px;
    height:150px;
    resize:none;
}
.mareaio
{
    width:300px;
    height:150px;
    resize:none;
}
.lrgareaio
{
    resize:none;
    width:450px;
    height:450px;
}
.longareaio
{
    resize:none;
    width:300px;
    height:350;
}
.result
{
    color:purple;
    font-size:24;
    font-family:helvetica;
}
.abillabel
{
    display:inline-block;
    width:50px;
    text-align:left;
}
.deflabel
{
    display:inline-block;
    width:65px;
    text-align:left;
}
.eqiuplabel
{
    display:inline-block;
    width:50px;
    text-align:left;
}
.skilllabel
{
    display:inline-block;
    width:115px;
    text-align:left;
}