body
{
    background:black;
    color:#d2bb89;
    text-align:center;
    font-family:helvetica;
    border:1px solid white;
}
label
{
    text-align:left;
    display:inline-block;
    width:120px;
}
fieldset
{
    border:1px solid gray;
    width:300;
    margin:auto;
}