.infoitem
{
	background:#68431F;
	width:95%;
}
.maincontain
{
	background:#413529;
	width:640px;
	height:500px;
	margin:auto;
	border:2px inset silver;
	color:white;
}
#namelistcontain
{
	background:;
	display:inline-block;
	border-right:4px outset silver;
	width:25%;
	height:100%;
	float:left;
}
#namelistcontain span
{
	font-size:1.125em;
	font-family:Helvetica;
}
#info
{
	background:#D2BB89;
	border-left:2px outset silver;
	width:74%;
	height:100%;
	float:right;	
}