h1
{
    text-align:center;
    font-family:helvetica;
    font-weight:normal;
    font-size:16;
}
h2
{
    text-align:center;
}
body
{
    background:#d2bb89;
}
table
{
    margin-left:auto;
    margin-right:auto;
}
.menubutton
{
    display:inline-block;
    background:#6C3108;
    width:125px;
    line-height:30px;
    border-radius:16px;
    color:#B69A71;
    border:2px inset white;
    font-size:16px;
    font-weight:normal;
    font-family:tahoma;

}
.menubutton:hover
{
    color:white;
    background:#99440c;
    cursor:pointer;
}
.notehead
{
    width:300px;
    background:white;
    text-align:center;
    height:30px;
    font-family:verdana;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
}
.notebody
{
    height:150px;
    width:300px;
    text-align:center;
    background:white;
    font-family:helvetica;
}
.notefoot
{
    height:30px;
    width:300px;
    background:white;
    text-align:center;
    font-family:verdana;
    border-bottom-left-radius:16px;
    border-bottom-right-radius:16px;
}