th
{
    text-align:center;
}
tr
{
    text-align:center;
}
fieldset
{
    font-family:helvetica;
    width:400;
    margin:auto;
}
#deftbl
{
    margin:auto;
}
#atktbl
{
    margin:auto;
}
.badresult
{
    color:red;
}
.result
{
    color:purple;
}
.skllbl
{
    display:inline-block;
    width:105px;
    text-align:left;
}
.xllabel
{
    display:inline-block;
    width:140px;
    text-align:left;
}
.lrglabel
{
    display:inline-block;
    width:90px;
    text-align:left;
}
.mdlabel
{
    display:inline-block;
    width:60px;
    text-align:left;
}
.smllabel
{
    display:inline-block;
    width:30px;
    text-align:left;
}
.box3in
{
    display:inline-block;
    width:25px;
    
}
.lgtxt
{
    width:350px;
}
.menubutton
{
    width:75px;
}
.nav
{
    cursor:pointer;
}
.vertdiv
{
    display:inline-block;
}